@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

a {
  cursor: pointer;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

body {
  font-weight: 400;
  animation: fadeIn 1s ease-in-out forwards;
  overflow-x: hidden;
}

@media only screen and (min-width: 600px) {
  main {
    overflow: unset;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site-header {
  padding-top: 24px;

  img {
    width: 220px;
  }
}

h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
}

.text-cener {
  text-align: center;
}

.weight-500 {
  font-weight: 500;
}

.size-16 {
  font-size: 16px;
}

.red {
  color: rgba(255, 51, 95, 1);
}

br {
  &.mobile {
    @media (min-width: 600px) {
      display: none;
    }
  }

  &.desktop {
    @media (max-width: 1280px) {
      display: none;
    }
  }
}

#section-0 {
  padding: 10px;

  img {
    content: url("../../public/children__m.png");
    @media (min-width: 600px) {
      content: url("../../public/children__d.png");
    }
  }
}

#section-1 {
  padding: 25px;
  padding-top: 0px;
  font-size: 18px;
  line-height: 23px;

  @media (min-width: 600px) {
    width: 500px;
    margin: 0 auto;
  }
}

#section-2 {
  background: #f2f2f2;
  padding: 25px;

  .p {
    font-size: 18px;
    line-height: 23px;
    padding-top: 18px;
  }
}

.child-section {
  display: flex;
  font-size: 12px;
  margin-top: 35px;
  gap: 10px;
  align-items: stretch;

  &.left-image {
    flex-direction: row-reverse;

    .video-play-button {
      left: 10px;
    }
  }

  &.right-image {
    flex-direction: row;

    .video-play-button {
      right: 10px;
    }
  }

  .photo-wrapper {
    width: 50%;
    height: fit-content;
    position: relative;

    .video-play-button {
      position: absolute;
      bottom: -15px;
    }
  }

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .description {
    line-height: 15px;
  }
}

#section-3 {
  margin-top: 26px;
}

#section-4 {
  margin-top: 26px;
  padding: 0 40px;
}

.semi-bold {
  font-weight: 500;
}

footer {
  margin-top: 36px;
  margin-bottom: 30px;
  padding: 0 16px;
  color: rgba(179, 179, 179, 1);
  font-size: 12px;
  line-height: 15px;

  a {
    text-decoration: underline;
  }

  .made-by {
    color: #000;
  }
}

.slider {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}

.slider-item {
  cursor: pointer;
  min-width: 35%;

  img {
    width: 100%;
  }
}

.sets-slider {
  padding: 0 12px;
}

.products-slider {
  font-size: 12px;
  margin-bottom: 20px;

  img {
    border-radius: 8px;
  }
}

.video-play-button {
  border-radius: 100%;
  box-shadow: 0px 4px 7.6px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background: #fff;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-button-wrapper a {
  font-size: 16px;
  padding: 15px;
}

.promoblock {
  color: white;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: initial;
}

.heading {
  font-weight: 600;
  font-size: min(7vw, 48px);
  color: white;
  text-align: center;
  text-align: left;
  margin-bottom: min(35px, 5vw);
}

.made-by {
  font-size: 2.79vw;
  margin-top: 3.72vw;
}

.made-by a {
  text-decoration: underline;
}

.link-button {
  background: #ff335f;
  display: flex;
  padding: 3.4vw 8.4vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 1000px;
  font-size: 4.2vw;
  line-height: 4.6vw;
  font-weight: 500;
  transition: 200ms all;
}

.link-button:hover {
  background-color: #ff5378;
}

.link-button:active {
  background-color: #ee2852;
}

.link-button-wrapper {
  /* margin: 0 2.6vw; */
}

.promocode {
  cursor: pointer;
  margin: 25px auto 15px auto;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 51, 95, 1);
  color: #383838;
  font-size: 19px;
  background: transparent;
}

.promocode-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  img {
    width: 22px;
    margin-left: 8px;
    cursor: pointer;
  }

  span {
    font-weight: 500;
    font-size: 20px;
  }
}

.modal-bg {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 10px;
  padding: 10px;
  padding-bottom: 85px;
}

.modal {
  border-radius: 25px;
  background-color: white;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 95vw;
  position: relative;

  .p2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  &.child {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  &.set {
    padding-top: 20px;

    p {
      margin-top: 15px;
      margin-bottom: 20px;
    }

    .link-button-wrapper {
      width: 85%;
      margin: 0 auto;
    }
  }
}

.modal-video {
  border-radius: 20px;
  min-width: 100%;
  padding: 0;
}

.modal-video-wrapper {
  position: relative;
}

.modal-video-play-button {
  position: absolute;
  right: 20px;
  bottom: 16px;
}

.modal-text {
  margin-top: 13px;
  padding: 0 4px;
  font-size: 16px;
}

.modal-text-name {
  margin-top: 11.5vw;
}

.modal-heart {
  position: absolute;
  right: 0;
  bottom: -54px;
}

.modal-close-btn {
  position: absolute;
  right: 16px;
  top: 19px;
  cursor: pointer;
}

.expander {
  flex-grow: 1;
}
.cookies-toast {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px;
  margin: 8px;
  pointer-events: auto;
  font-size: 14px;
  text-align: center;
}

.cookies-toast a {
  color: rgba(255, 51, 95, 1);
}

.cookies-toast p {
  width: 80%;
  margin: 0 auto;
  line-height: 17px;
}

.cookies-toast button {
  width: 85%;
  display: flex;
  margin: 0 auto;
  padding: 15px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: rgba(255, 51, 95, 1);
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}

.bottom-sticked-block {
  position: fixed;
  z-index: 2000;
  bottom: 0px;
  right: 0;
  width: 100%;
  pointer-events: none;
}

.bottom-sticked-block .my-cookies-block {
  display: flex;
  justify-content: flex-end;
}
.bottom-sticked-block .help-button-block {
  display: flex;
  justify-content: flex-end;
}

/* @media only screen and (min-width: 600px) {
  .cookies-toast {
    width: 632px;
    padding: 18px;
    margin: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
  }

  .cookies-toast p {
    font-size: 14px;
  }

  .cookies-toast button {
    padding: 16px 40px;
    margin-top: 0;
    width: unset;
    transition: 200ms all;
  }

  .cookies-toast button:hover {
    background-color: #ff5378;
  }

  .cookies-toast button:active {
    background-color: #ee2852;
  }

  .bottom-sticked-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
  }

  .promocode {
    margin: 30px auto;
    padding: 19px 20px;
    border-radius: 30px;
    color: #383838;
    width: 342px;
    font-size: 25px;
  }

  .promocode img {
    width: 31px;
    margin-left: 16px;
  }

  .heading {
    font-size: 24px;
    margin-bottom: 26px;
  }

  .link-button-wrapper a {
    font-size: 20px !important;
    padding: 19px 45px;
  }

  .site-header {
    padding-top: 33px;
  }

  .made-by {
    font-size: 15px !important;
  }

  .promoblock {
    font-size: 20px;
    width: 470px;
    max-width: 470px;
  }

  .desktop-only {
    display: initial;
  }

  .mobile-only {
    display: none;
  }

  .link-button {
    padding: 16px 45px;
    font-size: 20px;
    line-height: 25px;
  }

  .link-button-wrapper {
    margin-top: 30px !important;
  }
} */
