@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
}

a {
  cursor: pointer;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

body {
  font-weight: 400;
  animation: fadeIn 1s ease-in-out forwards;
  overflow-x: hidden;
}

.desktop-only {
  @media (max-width: 600px) {
    display: none !important;
  }

  @media (min-width: 600px) {
    display: block;
  }
}

.mobile-only {
  @media (max-width: 600px) {
    display: block;
  }

  @media (min-width: 600px) {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) {
  main {
    overflow: unset;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site-header {
  padding-top: 24px;
  margin: 0 auto;
  width: 220px;
  display: flex;
  justify-content: center;

  .separator {
    border-left: 1px solid rgba(64, 64, 64, 1);
    width: 1px;
    margin: 0 15px;
  }
}

h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;

  @media (min-width: 600px) {
    font-size: 35px;
    line-height: 1em;
    font-weight: 450;
  }
}

.text-cener {
  text-align: center;
}

.weight-500 {
  font-weight: 500;
}

.weight-450 {
  font-weight: 450;
}

.size-16 {
  font-size: 16px;
}

.red {
  color: rgba(255, 51, 95, 1);
}

br {
  &.mobile {
    @media (min-width: 600px) {
      display: none;
    }
  }

  &.desktop {
    @media (max-width: 600px) {
      display: none;
    }
  }
}

#section-0 {
  padding: 10px;

  @media (min-width: 600px) {
    max-width: 900px;
    margin: 0 auto;
  }

  img {
    content: url("../../public/children__m.png");
    @media (min-width: 600px) {
      content: url("../../public/children__d.png");
    }
  }
}

#section-1 {
  padding: 0 25px;
  line-height: 23px;
  margin-bottom: 25px;

  @media (min-width: 600px) {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 90px;
    text-align: center;
  }
}

#section-2 {
  background: #f2f2f2;
  padding: 25px;

  .p {
    /* font-size: 18px; */
    line-height: 23px;
    padding-top: 18px;
  }
  @media (min-width: 600px) {
    background: transparent;
    padding-top: 0;
    max-width: 1200px;
    margin: 0 auto;

    .p {
      max-width: 700px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 90px;
    }

    h2 {
      margin-bottom: 20px;
    }
  }
}

.child-section {
  display: flex;
  font-size: 12px;
  margin-top: 35px;
  gap: 10px;
  align-items: stretch;

  &.left-image {
    flex-direction: row-reverse;

    .video-play-button {
      left: 10px;

      @media (min-width: 600px) {
        left: 30px;
      }
    }
  }

  &.right-image {
    flex-direction: row;

    .video-play-button {
      right: 10px;

      @media (min-width: 600px) {
        right: 30px;
      }
    }
  }

  @media (min-width: 600px) {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    gap: 30px;
  }

  .photo-wrapper {
    width: 50%;
    height: fit-content;
    position: relative;

    .video-play-button {
      position: absolute;
      bottom: -15px;
    }
    @media (min-width: 600px) {
      img {
        max-width: min(100%, 450px);
      }
    }
  }

  .text {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .description {
    line-height: 15px;

    @media (min-width: 600px) {
      line-height: 2em;
      font-size: 16px;

      .semi-bold {
        font-size: 25px;
        font-weight: 450;
        line-height: 1em;
      }
    }
  }

  .expander {
    min-height: 10px;
    @media (min-width: 600px) {
      min-height: 20px;
    }
  }
}

#section-3 {
  margin-top: 26px;

  @media (min-width: 600px) {
    margin-top: 100px;
    h2 {
      margin-bottom: 30px;
    }
  }
}

#section-4 {
  margin-top: 26px;
  padding: 0 40px;

  @media (min-width: 600px) {
    margin-top: 90px;
  }

  .choose-set-button {
    margin-top: 20px;

    @media (min-width: 600px) {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  .discount {
    @media (min-width: 600px) {
      margin: 0 auto;
      margin-top: 20px;
      display: block;
    }
  }
}

.semi-bold {
  font-weight: 500;
}

footer {
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 30px;
  padding: 0 16px;
  color: rgba(179, 179, 179, 1);
  font-size: 12px;
  line-height: 15px;
  max-width: 900px;

  a {
    text-decoration: underline;
  }

  .made-by {
    color: #000;
  }

  @media (min-width: 600px) {
    /* display: column; */
    /* flex-direction: row-reverse; */
    margin-top: 90px;
  }
}

.slider {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 600px) {
    max-width: min(100%, 900px);
    margin: 0 auto;
  }
}

.slider-item {
  display: block;
  line-height: 20px;
  cursor: pointer;

  @media (min-width: 600px) {
    min-width: calc((100% - 48px) / 5);
  }

  img {
    width: 100%;
    /* height: 131px; */
    background: rgba(242, 242, 242, 1);
    border-radius: 8px;

    @media (min-width: 600px) {
      /* height: 182px; */
    }
  }

  @media (max-width: 600px) {
    min-width: 29%;

    &:first-child {
      /* margin-left: 12px; */
    }

    &:last-child {
      /* margin-right: 12px; */
    }
  }
}

.sets-slider {
  padding: 0 12px;

  @media (min-width: 600px) {
    padding: 0;
  }
}

.products-slider {
  font-size: 12px;
  margin-bottom: 20px;
  width: calc(100% + 24px);
  position: relative;
  left: -12px;
  z-index: 4000;
  padding: 0 10px;

  @media (min-width: 600px) {
    width: 100%;
    left: 0;
    margin-bottom: 60px;
    padding: 0;
  }

  img {
    border-radius: 8px;
  }

  .slider-item {
    line-height: 15px;
    font-size: 12px;
  }
}

.video-play-button {
  border-radius: 100%;
  box-shadow: 0px 4px 7.6px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  background: #fff;
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-button-wrapper a {
  font-size: 16px;
  padding: 15px;
}

.promoblock {
  color: white;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.heading {
  font-weight: 600;
  font-size: min(7vw, 48px);
  color: white;
  text-align: center;
  text-align: left;
  margin-bottom: min(35px, 5vw);
}

.made-by {
  font-size: 12px;
  margin-top: 12px;

  @media (min-width: 600px) {
    /* margin-top: 0; */
    font-size: 12px;
    margin-right: 40px;
  }
}

.made-by a {
  text-decoration: underline;
}

.link-button {
  background: #ff335f;
  display: flex;
  /* padding: 3.4vw 8.4vw; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 1000px;
  font-size: 4.2vw;
  /* line-height: 4.6vw; */
  font-weight: 500;
  transition: 200ms all;

  @media (min-width: 600px) {
    font-weight: 450;
  }
}

.link-button:hover {
  background-color: #ff5378;
}

.link-button:active {
  background-color: #ee2852;
}

.link-button-wrapper {
  /* margin: 0 2.6vw; */
}

.promocode {
  cursor: pointer;
  margin: 25px auto 15px auto;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 51, 95, 1);
  color: #383838;
  font-size: 19px;
  background: transparent;

  @media (min-width: 600px) {
    max-width: 300px;
    margin-top: 40px;
  }
}

.promocode-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  img {
    width: 22px;
    margin-left: 8px;
    cursor: pointer;
  }

  span {
    font-weight: 500;
    font-size: 20px;
  }
}

.modal-bg {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 10px;
  padding: 10px;

  @media (min-width: 600px) {
    gap: 0;
  }
}

.modal {
  border-radius: 25px;
  background-color: white;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 95vw;
  position: relative;

  @media (min-width: 600px) {
    max-width: min(95vw, 900px);
    padding-left: 20px;
    padding-right: 20px;
  }

  .p2 {
    margin-top: 20px;
    margin-bottom: 10px;
    @media (min-width: 600px) {
      flex: 1;
      padding-left: 20px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .hand-written {
    @media (min-width: 600px) {
      margin: 0 auto;
      width: 80%;
    }
  }

  .body-wrapper {
    @media (min-width: 600px) {
      display: flex;
      flex-direction: row-reverse;
      margin-top: 40px;
      align-items: flex-start;
    }
  }

  &.child {
    padding-top: 50px;
    padding-bottom: 25px;
    @media (min-width: 600px) {
      /* border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; */
    }
  }

  &.set,
  .set {
    padding-top: 20px;

    p {
      margin-top: 15px;
      margin-bottom: 20px;
      @media (min-width: 600px) {
        max-width: 500px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 60px;
      }
    }

    .link-button-wrapper {
      width: 85%;
      margin: 0 auto;

      @media (min-width: 600px) {
        max-width: 300px;
        margin-bottom: 30px;
      }
    }

    @media (min-width: 600px) {
      /* border-top-left-radius: 0;
      border-top-right-radius: 0; */
      padding-top: 70px;
    }
  }
}

.modal-video {
  border-radius: 20px;
  min-width: 100%;
  padding: 0;
}

.modal-video-wrapper {
  position: relative;

  @media (min-width: 600px) {
    width: 60%;
  }
}

.modal-video-play-button {
  position: absolute;
  right: 20px;
  bottom: 16px;

  @media (min-width: 600px) {
    left: 20px;
    right: unset;
  }
}

.modal-text {
  margin-top: 13px;
  padding: 0 4px;
  font-size: 16px;
  @media (min-width: 600px) {
    padding: 0;
    margin-top: 25px;
  }
}

.modal-text-name {
  margin-top: 11.5vw;
}

.modal-heart {
  position: absolute;
  right: 0;
  bottom: -54px;
}

.modal-close-btn {
  position: absolute;
  right: 16px;
  top: 19px;
  cursor: pointer;
}

.expander {
  flex-grow: 1;
}

.cookies-toast {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: 8px;
  pointer-events: auto;
  font-size: 14px;
  text-align: center;

  @media (min-width: 600px) {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: left;
    padding: 16px 30px;
  }

  button {
    width: 85%;
    display: flex;
    margin: 0 auto;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: rgba(255, 51, 95, 1);
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 16px;

    @media (min-width: 600px) {
      max-width: 150px;
      margin: 0;
    }
  }

  a {
    color: rgba(255, 51, 95, 1);
  }

  p {
    width: 80%;
    margin: 0 auto;
    line-height: 17px;
  }
}

.bottom-sticked-block {
  position: fixed;
  z-index: 2000;
  bottom: 0px;
  right: 0;
  width: 100%;
  pointer-events: none;
}

.backstage {
  max-width: 900px;
  margin: 0 auto;

  @media (max-width: 600px) {
    padding-bottom: 40px;
  }
}

.child-backstage-set {
  padding: 0 20px;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 600px) {
      display: flex;
      gap: 10px;
      overflow: scroll;
      margin: 0 -20px;
      padding: 0 10px;
    }
  }

  img {
    opacity: 0;
    border-radius: 8px;
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out forwards;
    @media (max-width: 600px) {
      width: 45%;
    }
  }

  h2 {
    padding: 100px 0 50px 0;

    @media (max-width: 600px) {
      padding: 40px 0 20px 0;
    }
  }
}

.backstage-modal-bg {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0;
  justify-content: center;

  img {
    max-height: 100%;
    border-radius: 25px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .modal-body {
    padding: 20px;
    margin: 0 auto;
    max-height: 100vh;
    gap: 15px;
    justify-content: center;
    display: flex;

    @media (max-width: 600px) {
      padding: 0 10px;
    }
  }

  .close-btn-block {
    flex-shrink: 0;
    display: flex;
    cursor: pointer;
    width: 34px;
    height: 34px;
  }

  .close-btn-block-placeholder {
    width: 34px;
    height: 34px;
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .arrow-btn {
    padding: 8px;
    background: white;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &.disabled {
      opacity: 0.3;
    }
  }

  .right {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .controls-mobile {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

.backstage-link-block {
  color: rgba(255, 51, 95, 1);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
